<p-card class="container">
  <div style="text-align: center; color: crimson; margin-bottom: 30px">
    <u><h2>Login Here</h2></u>
  </div>
  <div>
    <form
      [formGroup]="project"
      style="border-radius: 1px solid black"
      autocomplete="off"
    >
      <p>
        <span class="p-fluid">
          <label for="username">Username</label><br />
          <input
            type="text"
            id="username"
            pInputText
            formControlName="username"
          />

          <small
            *ngIf="
              !project.get('username')?.valid &&
              project.get('username')?.touched
            "
          >
            <span style="color: red"> Please enter valid username. </span>
          </small>
        </span>
      </p>
      <p>
        <span class="p-fluid">
          <label for="password">Password</label><br />
          <input
            type="password"
            id="password"
            pInputText
            formControlName="password"
            (keydown.enter)="onLogin()"
          />

          <small
            *ngIf="
              !project.get('password')?.valid &&
              project.get('password')?.touched
            "
          >
            <span style="color: red"> Please enter valid Password. </span>
          </small>
        </span>
      </p>
    </form>
    <p-divider></p-divider>

    <!-- <ng-template pTemplate="footer">
          <button pButton>Save</button>
      </ng-template> -->

    <div class="p-fluid" style="text-align: center">
      <button
        [disabled]="!project.valid"
        pButton
        label="SUBMIT"
        (click)="onLogin()"
      ></button>
      <!-- <u> <a routerLink="#">Forget Password</a></u> -->
    </div>
  </div>
  <!-- <a
    href="http://127.0.0.1:16161/auth/realms/Anemoi_Authorization_server/protocol/openid-connect/auth?response_type=code&client_id=Anemoi&redirect_uri=http://localhost:8080"
    >Click here to Login</a
  > -->
</p-card>


<!-- Notification msg's -->
<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
