<div class="roles">
  <h1>Templates</h1>
</div>

<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input type="text" pInputText (input)="dt.filterGlobal(target($event).value, 'contains')" class="p-inputtext-sm"
    placeholder="Search" />
</span>

<!-- to view all Users -->
<div class="card" style="margin-top: 10px">
  <p-table styleClass="p-datatable-sm p-datatable-gridlines templateTable" #dt [value]="templateDetails" [rows]="7"
    [paginator]="true" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    [globalFilterFields]="['templateDescription.name','templateDescription.description','project.projectName','status']">
    <ng-template pTemplate="header">
      <tr class="myTable">
        <th>Template Name</th>
        <th>Description</th>
        <th>Project Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-templateDetails>
      <tr class="anchor-row">
        <td>{{ templateDetails.templateDescription.name }}</td>
        <td>{{ templateDetails.templateDescription.description }}</td>
        <td>{{ templateDetails.project.projectName }}</td>
        <td>
          <span [class]="getStatusClass(templateDetails.status)">{{ templateDetails.status }}</span>
        </td>
        <td><button
          pTooltip="View"
          tooltipPosition="top"
          pButton
          pRipple
          icon="pi pi-folder-open"
          class="p-button-success actionButton"
          (click)="navigateTemplateDetails(templateDetails.templateId)"
        ></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ templateDetails ? templateDetails.length : 0 }} template.
      </div>
    </ng-template>
  </p-table>
</div>