::ng-deep .mainCard {
  border: 1px groove #9aa4be !important;
  position: sticky;
  scroll-behavior: smooth;
}

.contents,
input,
textarea {
  margin-top: 10px;
}

::ng-deep input {
  /* width: 50% !important; */
  background-color: #f3f3f3 !important;
  border: 1px solid #415385 !important;
}

::ng-deep textarea {
  width: 80% !important;
  background-color: #f3f3f3 !important;
  border: 1px solid #415385 !important;
}

::ng-deep .pbuttonclass {
  background-color: #ffffff;
  color: #d04a02;
  border-color: #d04a02;
  font-family: Helvetica;
  margin-bottom: 10px;
}

.pbuttonclass:hover {
  background-color: #d04a02;
  border-color: #d04a02;
  font-family: Helvetica;
  margin-bottom: 10px;
}
.para {
  font-size: 18px;
  font-family: Helvetica;
}

.myTable::ng-deep * {
  background-color: #d2d7e2 !important;
}

::ng-deep .seperateCard {
  background-color: #f3f3f3;
  color: #2d2d2d;
  border: 1px solid #707070;
}

::ng-deep .seperateCard1 {
  border: 1px solid #707070;
}

::ng-deep .cardd {
  margin-top: 50px;
  display: none;
}

::ng-deep .dropdown1 {
  margin-top: 10px !important;
  width: 50% !important;
  background-color: #f3f3f3 !important;
  border: 1px solid #415385 !important;
  color: black !important;
  border: 1px solid black;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #ffa700;
  }
}

.spinnerDiv{

  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.spinner{
  /* background: #222;
  color: #fff; */
  display: inline-block;
  text-align: center;
  margin: 10px 10px 0 0;
  padding: 5px 10px
}