::ng-deep .pbuttonclass {
    background-color: #d04a02 !important;
    color: white !important;
    float: right !important;
    border: none !important;
    border-radius: 4px !important ;
    /* padding: 2%;
    height: 2rem;
    font-size: 14; */
    
  }
  
  .pbuttonclass:hover {
    background-color: #D04A02;
    border-color: white;
  }
  
  ::ng-deep .pbuttonclass1 {
    background-color: #d04a02;
    border-color: white;
  }
  
  .roles,
  h1 {
    color: #415385;
    font-size: 34px;
    font-family: "Helvetica";
  }
  

  ::ng-deep .pbuttonclass2 {
    background-color: #d04a02;
    border-color: white;
    float: right;
  }

  ::ng-deep .skillButton1{
    background-color: #D04A02;
    color: white;
    border: none;
    margin-top: 30px;
   }
  
  .skillButton1:hover{
    background-color: #D04A02;
    color: white;
    border: none;
   }
  .title,
  h3 {
    color: #3a3a3a;
    font-size: 22px;
    font-family: "Helvetica";
    text-align: left;
    font-weight: bold;
  }
  
  .search {
    float: right;
  }
  
  .myTable::ng-deep * {
    background-color: #9AA4BE !important;
    border: 1px solid#9AA4BE !important;
    height: 10vh;
  }
  
  .pbuttonclass1:hover {
    background-color: #d04a02;
    border-color: white;
  }
  ::ng-deep .plusIcon {
    background-color: #415385;
    border-color: white;
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
  .plusIcon:hover {
    background-color: #415385;
    border-color: white;
    margin-top: 10px !important;
  }
  
  ::ng-deep .userDialog {
    background-color: #e68897;
  }
  
  
  ::ng-deep input,textarea{
    margin-top: 10px !important;
    background-color: #f3f3f3 !important;
  }
  ::ng-deep .dropdown {
    margin-top: 10px !important;
    background-color: #f3f3f3 !important;
  }
  
  ::ng-deep .dropdown {
    margin-top: 10px !important;
  }
  
  ::ng-deep .businessOwner {
    background-color: #d2d7e2;
    height: 20vh;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px !important;
  }
  ::ng-deep .btn {
    float: right !important;
    margin-bottom: 100px !important;
    margin-top: 20px !important;
  }
  
  ::ng-deep .plus_icon {
    font-size: 1.5rem !important;
  }
  
  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  ::ng-deep .inputbox {
    padding: 10px !important;
  }
  
  ::ng-deep pButton {
    margin-bottom: 10px !important;
  }
  
  ::ng-deep .pbuttonclass1 {
    background-color: #ffffff;
    color: #d04a02;
    border-color: #d04a02;
    font-family: Helvetica;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  
  ::ng-deep .balancesheettable {
    border-radius: 0px;
    border: 2px solid #9AA4BE !important;
    overflow: hidden !important;
    margin-top: 20px !important;
  }
  
  ::ng-deep label{
    font-weight: bold;
  }
  ::ng-deep .cardd{
    margin-top: 50px;
    box-shadow: none;
  }
  
  ::ng-deep .link{
    cursor: pointer;
    color: #415385;
    text-decoration: underline;
  }
  
  ::ng-deep .versionCard{
    background-color: #b3c5ec !important;
    color: black !important;
  }
  
  ::ng-deep .removeButton{
    margin-top: 2.5rem;
  }
  
  ::ng-deep .businessOwnerTable{
    border-radius: 10px;
    border: 2px solid #9AA4BE !important;
    overflow: hidden !important;
  }
  ::ng-deep .tablerow{
   height: 2rem !important;
   padding: 0% !important;
   margin: 0% !important;
  }
  
  ::ng-deep .skillButton{
    background-color: #D04A02;
    color: white;
    border: none;
   }
  
  .skillButton:hover{
    background-color: #D04A02;
    color: white;
    border: none;
   }

   .spinner {
    /* backdrop-filter: blur(2px); */
    background-color: rgba(184, 167, 167, 0.2);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  app-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }